/* Pagina General */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Nav */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7a93b4;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 10px; 
}

.navbar-brand.user-name {
  text-decoration: none; 
  color: white; 
  font-weight: bold; 
  font-size: 16px; 
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #5c77a6;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

/* Footer */

footer {
  background-color: #40587b;
  color: white;
  padding: 20px;
  text-align: left;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.footer-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

footer p {
  font-size: 14px;
  margin: 0;
}

/* Contenido */

.contenti {
  background-color: #a8d0dd; 
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  width: flex;
}

.text {
  width: 60%; /* Ajusta el tamaño del texto */
  padding: 10px;
}

.image {
  width: 35%; /* Ajusta el tamaño de la imagen */
  text-align: right;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}


/* Estilos Pagina */
